<h1>Add dog to training</h1>
<form class="flex flex-column gap-3">
  <div class="form-field">
    <label>Dog name</label>
    <p-dropdown></p-dropdown>
  </div>
  <div class="form-field">
    <label>Lost person name</label>
    <input type="text" pInputText>
  </div>
  <div class="form-field">
    <label>Weather</label>
    <textarea pInputTextarea [autoResize]="true"></textarea>
  </div>
  <div class="form-field">
    <label>Guide notes</label>
    <textarea pInputTextarea [autoResize]="true"></textarea>
  </div>
  <div class="form-field">
    <label>Ground type</label>
    <textarea pInputTextarea [autoResize]="true"></textarea>
  </div>
  <div></div>
  <!-- update primeng to v17 before adding file upload component -->
</form>

<!--
  / pies (dropdown)
  / pozorant (input)
  / pogoda (textarea)
  / uwagi przewodnika (textarea)
  / rodzaj podłoża (textarea)
  plik ze śladem pozoranta
  plik ze śladem psa
  załączniki
-->