<form [formGroup]="form" class="flex flex-column gap-2">
  <div class="flex gap-2">
    <label class="form-field">
      {{"TRAININGS.DETAILS.INPUTS.PERSON_TRAIL_LENGTH.LABEL" | translate}}
      <input formControlName="personTrailLength" type="text">
    </label>
    <label>
      {{"TRAININGS.DETAILS.INPUTS.PERSON_START_TIME.LABEL" | translate}}
      <input formControlName="personStartTime" type="text">
    </label>
  </div>
  <div class="flex gap-2">
    <label>
      {{"TRAININGS.DETAILS.INPUTS.DELAY_TIME.LABEL" | translate}}
      <input formControlName="delayTime" type="text">
    </label>
    <label>
      {{"TRAININGS.DETAILS.INPUTS.DOG_TRAIL_LENGTH.LABEL" | translate}}
      <input formControlName="dogTrailLength" type="text">
    </label>
  </div>
  <div class="flex gap-2">
    <label>
      {{"TRAININGS.DETAILS.INPUTS.DOG_START_TIME.LABEL" | translate}}
      <input formControlName="dogStartTime" type="text">
    </label>
    <label>
      {{"TRAININGS.DETAILS.INPUTS.DURATION.LABEL" | translate}}
      <input formControlName="duration" type="text">
    </label>
  </div>
  <label>
    {{"TRAININGS.DETAILS.INPUTS.PERSON_NAME.LABEL" | translate}}
    <input formControlName="personName" type="text">
  </label>
  <label>
    {{"TRAININGS.DETAILS.INPUTS.NOTES.LABEL" | translate}}
    <textarea formControlName="notes">
      </textarea>
  </label>
  <label>
    {{"TRAININGS.DETAILS.INPUTS.WEATHER.LABEL" | translate}}
    <textarea formControlName="weather">
      </textarea>
  </label>
  <label>
    {{"TRAININGS.DETAILS.INPUTS.GROUND_TYPE.LABEL" | translate}}
    <textarea formControlName="groundType">
      </textarea>
  </label>
  <div>
    <p>TODO: add attachments</p>
  </div>
</form>