@import "/src/assets/scss/variables.scss";

form > div {
  @media (max-width: $sm) {
    flex-direction: column;
  }
}

label {
  align-self: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

input,
textarea {
  padding: 0.5rem;
}
