<div class="flex gap-2">
  <div class="form-field">
    <label>Długość śladu pozoranta</label>
    <input>
  </div>
  <div class="form-field">
    <label>Czas startu pozoranta</label>
    <input>
  </div>
</div>
<div class="flex gap-2">
  <div class="form-field">
    <label>Czas odłożenia śladu</label>
    <input>
  </div>
  <div class="form-field">
    <label>Długość śladu psa</label>
    <input>
  </div>
</div>
<div class="flex gap-2">
  <div class="form-field">
    <label>Czas startu psa</label>
    <input>
  </div>
  <div class="form-field">
    <label>Czas pracy psa</label>
    <input>
  </div>
</div>
<div class="form-field">
  <label>Pozorant</label>
  <input>
</div>
<div class="form-field">
  <label>Uwagi przewodnika</label>
  <textarea></textarea>
</div>
<div class="form-field">
  <label>Pogoda</label>
  <textarea></textarea>
</div>
<div class="form-field">
  <label>Rodzaj podłoża</label>
  <textarea></textarea>
</div>
<div>
  <p>TODO: add attachments</p>
</div>