/* You can add global styles to this file, and also import other style files */
@import 'primeflex/primeflex.scss';
@import 'primeicons/primeicons.css';

body, html {
    height: 100%;
    // width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    // TODO: add link for Roboto fonts
    font-family: Roboto, Arial, sans-serif;
  }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {margin: 0; padding: 0;}